# Nuxt
node_modules
*.log*
.nuxt
.nitro
.cache
.output
.config
.env
dist
core
.idea

# Yarn
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# VIM
**/*~

.idea
